{% extends 'template.html' %}
{% block content %}

<!-- Form Section -->
<section id="form-section" class="section">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <h2 class="text-center mb-4">Formulario para Guardar Proyecto</h2>
                <form class="row g-3 shadow-lg p-4 rounded bg-light" method="post" action="/edicion">
                    <input type="hidden" name="id" value="{{ lista.idProyecto }}">
                    <div class="form-group col-12">
                        <label for="np">Nombre del Proyecto</label>
                        <input type="text" class="form-control" name="np" value="{{ lista.nombreProyecto }}" required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="in">Inversión</label>
                        <input type="number" class="form-control" name="in" step="0.01" value="{{ lista.inversion }}" required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="tV">Tiempo de Vida (años)</label>
                        <input type="number" class="form-control" name="tV" value="{{ lista.tiempoVida }}" required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="fI">Fecha de Inicio</label>
                        <input type="date" class="form-control" name="fI" value="{{ lista.fechaInicio }}" required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="fF">Fecha de Fin</label>
                        <input type="date" class="form-control" name="fF" value="{{ lista.fechaFin }}" required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="eg">Electricidad Generada por Día (MW)</label>
                        <input type="number" class="form-control" name="eg" step="0.01" value="{{ lista.electricidadGenerada }}" required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="ct">Costo Total</label>
                        <input type="number" class="form-control" name="ct" step="0.01" value="{{ lista.costoTotal }}" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="cp">Código del Proyecto</label>
                        <input type="text" class="form-control" name="cp" value="{{ lista.codigodelproyecto }}" required>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Guardar Proyecto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
