{% extends 'templateinve.html' %}
{% block content %}

<!-- Form Section -->
<section id="form-section" class="section">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <h2 class="text-center mb-4">Guardar Inversionista</h2>
                <form class="row g-3 shadow-lg p-4 rounded bg-light" method="post" action="/guardar/inversionista/{{ misproyectos.codigodelproyecto }}">
                    <div class="form-group col-12">
                        <label for="nombre">Nombres del Inversionista</label>
                        <input type="text" class="form-control" name="nombre" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="dni">Cédula</label>
                        <input type="text" class="form-control" name="dni" required>
                    </div>
                    <input type="hidden" name="id" value="{{ misproyectos.codigodelproyecto }}">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Crear Inversionista</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
