{% extends 'templateinve.html' %}
{% block content %}

<section id="projects" class="projects section">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
                <h2 class="text-center mb-4">Lista de Inversionistas</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover text-center shadow-lg rounded">
                        <thead class="table-dark">
                            <tr>
                                <th class="align-middle">N</th>
                                <th class="align-middle">Nombres del Inversionista</th>
                                <th class="align-middle">Cédula</th>
                                <th class="align-middle">Código del Proyecto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in lista %}
                            <tr>
                                <td class="align-middle">{{ item.idInversionista }}</td>
                                <td class="align-middle">{{ item.nombres }}</td>
                                <td class="align-middle">{{ item.dni }}</td>
                                <td class="align-middle">{{ item.pertenencia }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Projects Section -->

{% endblock %}
